.main{
    border: 1px solid var(--background);
    padding: 16px;
    width: 100%;
    background-color: var(--background);
    border-radius: 32px;
    max-width: var(--max-width);
    margin: 40px auto;
}
.main h4, .main h3{
    padding: 16px;
}
.main button *{
    color: var(--background);
}
.main button:last-child *{
    color: var(--black);
}
.main *{
    color: var(--black);
}