.sec{
    background-color: var(--background-secondary);
}
.p{
    max-width: var(--max-width);
    margin: auto;
    text-align: justify;
    direction: ltr;
    padding: 24px 16px;
}
.p >*:last-child{
    text-align: center;
    font-size : 1.2em;
    min-width: 30px;
    width: 100%;
}
.p >*:last-child b{
    color: var(--green);
}