header{
    width: 100%;
    background-color: var(--background-secondary);
    position: relative;
}
.top{
    display: flex;
    flex-flow: row nowrap;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px 24px;
}
.top h1{
    font-size: 57px;
    line-height: 64px;
    display: flex;
    align-items: center;
}
.top>button{
    background-color: var(--background);
}

.logout{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 8em;
}
.logout > *{
    display: flex;
    flex-flow: row;
    justify-content: right;
}
.logout sub{
    font-size: 0.8em;
}

.selectToggle{
    text-align: center;
    width: 8em;
}
.selectWalletList{
    background-color: var(--background-secondary);
    position: absolute;
    box-sizing: border-box;
    width: 100vw;
    left: 0;
    top: 100%;
    z-index: 99;
    transform: translateY(-25px);
    opacity: 0;
    transition: all 200ms;
    overflow: hidden;
}
.selectWalletList h4{
    padding: 12px;
}
.selectWalletList>div{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.selectWalletList.open{
    opacity: 1;
    transform: translateY(5px);
    animation: forwards show 400ms;
}
.select{
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
    gap: 15px;
    overflow: hidden;
}
.select button{
    width: clamp(10em,10em,10em);
}
/* .select.close{
    display: none;
} */