header{
    width: 100%;
    background-color: var(--background-secondary);
    position: relative;
}
.top{
    display: flex;
    flex-flow: row nowrap;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px 24px;
    transition: all 200ms;
}
@media only screen and (max-width : 600px) {
    .top{
        margin: 40px auto;
    }
}
.top h1{
    height: clamp(64px, 64px, 64px);
    font-size: 57px;
    line-height: 64px;
    display: flex;
    align-items: center;
}
.top h1 svg, .top h1 svg *{
    transition: all 300ms linear 0ms, fill-opacity 300ms linear 300ms;
}
.top h1.small svg{
    transition: all 300ms linear 150ms;
    transform: scale(1.73) translateX(-24px);
}
.top h1.small *[class*="letter-"]{
    transition: all 300ms linear 0ms;
    fill-opacity: 0;
}
.top h1 svg{
    height:clamp(85px,85px,85px); 
    width: auto;
    margin:-40px 0;
    transform: scale(1) translateX(0px);
}
.top>button{
    background-color: var(--background);
}

.logout{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 8em;
}
.logout > *{
    display: flex;
    flex-flow: row;
    justify-content: right;
}
.logout sub{
    font-size: 0.8em;
}

.selectToggle{
    text-align: center;
    width: 8em;
}
.selectWalletList{
    background-color: var(--background-secondary);
    position: absolute;
    box-sizing: border-box;
    width: 100vw;
    left: 0;
    top: 100%;
    z-index: -99;
    transform: translateY(-25px);
    opacity: 0;
    transition: all 200ms;
    overflow: hidden;
}
.selectWalletList h4{
    padding: 12px;
}
.selectWalletList>div{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.selectWalletList.open{
    z-index: 99;
    opacity: 1;
    transform: translateY(5px);
    animation: forwards show 400ms;
}
.select{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 15px;
    gap: 15px;
    overflow: hidden;
}
.select button{
    width: clamp(10em,10em,10em);
}
/* .select.close{
    display: none;
} */