#root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0 auto;
  text-align: center;
}

.box{
  border: 1px solid var(--accent-color-dark);
  box-shadow: 0 0 5px rgba(117, 7, 157, 0.434);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
}

@media only screen and (max-width: 500px) {
  #root{
    padding: 2rem 0.2rem;
  }
}