:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;

  --accent-color-light : #747bff;
  --accent-color-normal: #343991;
  --accent-color-dark  : #273f54;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

svg{
  width: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

hr {
  margin: 0.5em auto;
  border: none;
  height: 6px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid #75079d;
}

button {
  display: flex;
  white-space: nowrap;
  flex-flow: row nowrap;
  justify-content: ce;

  align-items: center;
  border-radius: 0.5em;
  padding: 0.6em 1.2em;

  font-family: inherit;
  font-size: 1em;
  font-weight: 500;

  cursor: pointer;

  transition: border-color 0.25s;
  border: 1px solid transparent;
  background-color: #f9f9f9;
}
button > img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 1em;
}
button:hover {
  border-color: #75079d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
