html, body, #root{
  overflow-x: hidden;
  min-height: 100%;
}
*{
  color: #213547;
}
.slick-slide>div{
  width: 100vw!important;
}
:root {
  font-family: Quicksand, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: normal;

  color-scheme: light dark;
  --black: #231F20;
  color: var(--black);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;

  --background: #ffffff;
  --background-secondary: #F2F2F7;
  --box-shadow: #bbb;
  --yellow: #34C759;
  --green : orange;
  --accent-color-light : #747bff;
  --accent-color-normal: #343991;
  --accent-color-dark  : #273f54;

  --max-width: 480px;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

svg{
  width: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh; 
  background: rgb(191,191,191);
  background: radial-gradient(circle at 50% 0%, rgba(191,191,191,1) 15%, rgba(236,236,236,1) 60%, rgba(242,242,247,1) 85%, rgba(242,242,247,1) 100%); 
  padding-bottom: 80px;
  box-sizing: border-box;
  transition: all 200ms;
}

@media only screen and (max-width : 600px) {
  body{
    /* background: rgb(191,191,191); */
  /* background: linear-gradient(180deg, rgba(191,191,191,1) 10%, rgba(236,236,236,1) 75%, rgba(242,242,247,1) 90%, rgba(242,242,247,1) 100%);   */
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1em;
}

hr {
  margin: 0.5em auto;
  border: none;
  height: 6px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid #75079d;
}

button,
button:focus,
button:focus-within,
button:focus-visible{
  outline: 0;
  border: 1px solid transparent;
}
button {
  display: flex;
  white-space: nowrap;
  flex-flow: row nowrap;
  justify-content: ce;

  align-items: center;
  border-radius: 16px;
  padding: 0.6em 1.2em;

  font-family: inherit;
  font-size: 1em;
  font-weight: 500;

  cursor: pointer;

  transition: border-color 0.25s;
  background-color: #f9f9f9;
  border: 1px solid transparent;
  transition: all 200ms;
}
button > img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 1em;
}
button:hover {
  background-color: var(--background-secondary);
  border: 1px solid var(--background);
}
